/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #1F618D;
  background-image: url('fondo2.png');
}

h2{
  margin-bottom: 20px;
}

* {
  color: white;
  /* cursor: url("mano2.png"), auto; */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Goldman";
}

.form {
  width: 230px;
  margin: 50px auto;
  color: white;
  font-family: "Goldman";
}
.form h2 {
  text-align: center;
}
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Goldman";
  color: black;
}
.form input[type="checkbox"] {
  margin: 0px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.form .field {
  margin-bottom: 10px;
}
.form a {
  color: orange;
}
.btn {
  border: none;
  font-family: "Goldman";
  padding: 10px 20px;
  background-color: #29c34a;
  border-bottom: 5px solid #13822b;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}
.btn:hover{
  background-color: #13822b;
}

.btn-red{
  background-color: #E74C3C;
  border-bottom: 5px solid #B03A2E;
}
.btn-red:hover{
  background-color: #B03A2E;
}

.remember {
  display: flex;
  align-items: center;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    #4e105a 8.63%,
    rgb(35, 20, 103) 117.26%
  );
}

.balance{
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.balance img{
  width: 40px;
}

.w100 {
  width: 100%;
}
.center{
  text-align: center;
}

.container{
  padding: 0px 30px;
}

.minigames{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.minigames div{
  border-radius: 10px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px -3px white;
}

.minigames div:hover{
  top: -5px;
}

.minigames div img{
  width: 100%;
  filter: brightness(0.7);
}

.minigames div p{
  position: absolute;
  font-size: 30px;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

.reward{
  display: flex;
  align-items: center;
  padding: 2px 20px;
}
.reward img{
  margin-left: 10px;
  width: 40px;
}