.mines {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  height: 500px;
  margin: 10px 0px;
}

.hidden {
  display: none !important;
}

.card{
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
}

.card div {
  backface-visibility: hidden;
  background-color: #333;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  width: 100%;
}

.card div:last-child{
  align-items: center;
  color: white;
  display: flex;
  font-size: 25px;
  justify-content: center;
  transform: rotateY(180deg);
}

.card img{
  width: 80px;
}

#btnLeave{
  margin-right: 10px;
}

#leaveContainer{
  display: flex;
  justify-content: center;
    align-items: center;
}

#leaveContainer img{
  width: 20px;
  height: 20px;
}
