.slot_machine {
  border: 5px outset red;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  height: 200px;
  overflow: hidden;
}

@keyframes girar {
  100% {
    transform: translateY(-4000px);
  }
}

.girarclass {
  animation: girar 1s linear infinite forwards;
}

.btn{
  margin: 10px;
}

.barra {
  background-color: white;
}

.barra div {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 200px;
  justify-content: center;
  padding: 10px;
}

.barra div img {
  max-width: 150px;
  width: 100%;
}

table{
  border-collapse: collapse;
  margin:auto;
}

table td{
  padding-right: 5px;
}

table td img{
  width: 25px;
}

span{
  color: yellow;
}

table tr td:nth-child(2){
  padding-right: 30px;
}