.space {
  align-items: center;
  background-image: url(bg.gif);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  padding: 10px 0px;
  margin: 10px 0px;
}

img {
  width: 100px;
}

#announcement {
  text-align: center;
}

#bet{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bets {
  font-size: 20px;
  width: 100%;
  background-color: black;
  border-collapse: collapse;
  height: min-content;
}

.bets thead{
  border-color: yellow;
}

.bets th,
.bets td {
  min-width: 90px;
  text-align: center;
}

.green {
  color: #2ECC71;
}

.red {
  color: red;
}

.hidden {
  display: none !important;
}

.show {
  display: inline;
}

#btnLeft {
  align-self: center;
  height: min-content;
}

#ship {
  position: relative;
}

.move{
  animation: move 2s ease-in-out infinite alternate;
}

@keyframes move {
  from {
    left: -50px;
  }
  to {
    left: 50px;
  }
}
